/* custom CSS goes here */

.p25 {
    padding: 25px;
}

body {
    margin: 0;
    background: url('https://www.mapsland.com/maps/north-america/usa/large-administrative-map-of-the-usa-small.jpg');
    background-size: cover;
    background-repeat:no-repeat;
}